@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Festive&family=Open+Sans&family=Roboto&display=swap');

.App {
  text-align: center;
  color: rgb(255, 255, 255);
}

.ff-festive {
  font-family: 'Festive', cursive;
}

.ff-comic {
  font-family: 'Comic Neue', cursive;
}

.ff-openSans {
  font-family: 'Open Sans', sans-serif;
}

.ff-roboto {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

.item>.outOfStock {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b0a5a5b0;
  font-size: 1.2rem;
  font-weight: 700;
}